<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1 id="header-title" style="font-size: 2em; text-align: center;">
    <%= title %>
  </h1>
  <form method="POST" action="/new" id="form-container">
    <!-- Title -->
    <input type="text" name="title" id="title" placeholder="Enter your title" required/>
    <!-- Message -->
    <textarea id="user-message" name="message" rows="4" cols="50" placeholder="Enter your message" required></textarea>
    <!-- Username -->
    <input type="text" name="username" id="username" placeholder="Enter your username" required>
    <input type="submit" value="Submit" class="submit-btn">
  </form>
</body>
</html>